*, *:before, *:after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: rgb(31, 29, 42);
}
img{
    max-width: 100%;
}
.contendor{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}
::-webkit-scrollbar {
    display: none;
}
.aside{
    position: fixed;
    bottom: 2rem;
    right: 5%;
    z-index: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.aside > div > i{
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
.aside > div > .pedidos{
    color: white;
    border: 1px solid white;
    padding: 1.5px 4.5px;
    border-radius: 50%;
}
.carrito-info{
    height: 0;
    width: 0;
    background-color: rgb(31, 29, 42);
    border-radius: 16px;
    margin: 0 3rem 1rem 0;
    transition: all .5s;
    overflow: hidden;
}
.contenido-carrito{
    color:white;
    padding: 1rem;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.contenido-carrito > h4{
    text-align: center;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    margin: .5rem 0 .8rem 0;
    
}.contenido-carrito > h3{
    text-align: center;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    margin-top: 20px;
}
.contenido-carrito > button{
    color:rgb(170,212,224);
    text-align: center;
    border: 1px solid rgb(170,212,224);
    padding: .5rem 1rem;
    border-radius: 1rem;
    align-self: center;
    margin-top: 20px;
    outline:none;
    background-color: rgb(31, 29, 42);
    cursor: pointer;
}
#agregar-productos{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: justify;
}
#agregar-productos > li{
    display: flex;
    align-items: center;
    margin: .5rem 0;
}
#agregar-productos > li > img{
    width: 50px;
    margin: 0 1rem;
    border-radius: 16px;
}
/************************* ENCABEZADO ***************************/
.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.info{
    grid-row: 2 / 4 ;
    grid-column: 1 / 2;
}
/******************** ENCABEZADO NAVEGACION *********************/
.navegacion{
    display: flex;
    height: 5rem;
    align-items: center;
    position: fixed;
    background-color: rgb(31, 29, 42);
    width: 100%;
    z-index: 200;

}
.navegacion > a{
    text-decoration: none;
    color: white;
    padding: 0 2rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}
.navegacion > a:first-of-type{
    color: rgb(170,212,224);
}
.navegacion > .logo{
    border-radius: 25%;
    max-height: 70%;
    margin-right: 1rem;
}
/******************** ENCABEZADO IMAGENES *********************/

.contenido-imagen{
    display: flex;
    flex-direction: column;
    grid-row: 1 / 4 ;
    grid-column: 2 / 3;
    z-index: 300;
}
.contenido-imagen > img{
    align-self: center;
    width: 25rem;
}
/******************** ENCABEZADO INFO *********************/
.info{
    display: flex;
    flex-direction: column;
}
.info > h2{
    color: white;
    font-size: 2.5rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}
.info > p{
    color: rgb(145, 143, 141);
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
}
.info > h3 {
    color: rgb(170,212,224);
    font-size: 2rem;
    font-family: 'Fredoka', sans-serif;
    margin: 1rem 0;
}
.compra-inicio{
    padding-top: 3rem;
    display: flex;
}
.compra-inicio > a{
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}
.compra-inicio > a:first-of-type{
    background-color: rgb(189,188,186);
    color: black;
}
.grande{
    color: wheat;
    font-size: 20rem;
}
/************** PRINCIPAL *******************/
.main{
    padding-top: 6rem;
}
/************ PRINCIPAL MARCAS ******************/
.marcas{
    display: flex;
    margin: 0 10% 2rem 10%;
    justify-content: space-between;
}
.marcas > i{
    color: white;
    border-bottom: 1px solid white;
    font-size: 2rem;
    padding: 0 1rem .5rem 1rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}
/********** PRINCIPAL SECCION ************/
.items{
    display: flex;
    justify-content: space-between;
    transition: 2s;
}
.items > .carta{
    width: 30%;
}
.contenido-carta > img{
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border: 1px solid black;
}
.descripcion-carta{
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.descripcion-carta > h2,
.descripcion-carta > p{
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}
.descripcion-carta > h2{
    padding-right: .5em;
    font-size: 1rem;
    align-self: center;
}
.descripcion-carta > p{
    border-left: 1px solid black;
    align-self: center;
    padding: 1rem 0 1rem 1rem;
}
.contenido-carta{
    position: relative;
}
.agregar{
    position: absolute;
    color: white;
    font-size: 2rem;
    bottom: 130px;
    right: 2.5%;
    padding: .5rem;
    background-color: rgb(31, 29, 42);;
    border-radius: 50%;
    cursor: pointer;
}

/****************** FOOTER ********************/
.footer{
    background-color: rgb(21, 20, 28);
}
.contenido-footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: 20rem;
    color: white;
    padding-top: 2rem;
    border-bottom: 2px solid rgb(193, 192, 187);
}
/***************** ELEMENTOS FOOTER ****************/
.informacion > p{
 color: rgb(193, 192, 187);
}
.sobreNosotros > ul,
.footerProductos > ul{
    list-style: none;
    padding: 0;
}
.sobreNosotros > ul > li,
.footerProductos > ul > li{
    color: rgb(193, 192, 187);
    cursor: pointer;
    margin: 1rem 0;
}
.redesS > i{
    padding: 1rem 2rem;
    color: rgb(193, 192, 187);
    font-size: 2rem;
    cursor: pointer;
}
.redesS > i:first-of-type{
    padding-left: 0;
}
.copy{
    text-align: center;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 2rem;
}